# logs
*.log

# node/js package management
node_modules

# typescript compilation output
lib/

# native output
build

# typescript output
out/

# right now the tests generate this cache in-source so need to ignore..
.bis-schemas-cache

# vscode
.vscode-test
*.vsix

