# TODO: do whitelisting instead

node-tree-sitter/node_modules
node-tree-sitter/vendor
node-tree-sitter/build
node-tree-sitter/src
node-tree-sitter/test

tree-sitter-sql/build
tree-sitter-sql/bindings/rust
tree-sitter-sql/Cargo.toml
tree-sitter-sql/grammar.js
tree-sitter-sql/queries
tree-sitter-sql/scripts
tree-sitter-sql/test
tree-sitter-sql/node_modules
tree-sitter-sql/docs
tree-sitter-sql/examples
tree-sitter-sql/src/tree_sitter

*.c
*.rs
*.h
compile_commands.json
tsconfig.json

client/src
client/testFixture

server/src
server/test
