# TODO: definitely do whitelisting instead

node-tree-sitter/vendor
node-tree-sitter/build
node-tree-sitter/src
node-tree-sitter/test

tree-sitter-sql/build
tree-sitter-sql/bindings/rust
tree-sitter-sql/Cargo.toml
tree-sitter-sql/grammar.js
tree-sitter-sql/queries
tree-sitter-sql/scripts
tree-sitter-sql/test
tree-sitter-sql/docs
tree-sitter-sql/examples
tree-sitter-sql/src/tree_sitter

**/*.cc
**/*.c
**/*.rs
**/*.h
**/compile_commands.json
**/tsconfig.json
**/package-lock.json
**/.editorconfig
**/pnpm-lock.yaml
**/node_modules/.bin
**/.gitignore
**/*.js.map
**/.appveyor.yml
**/.gitignore
**/.gitmodules
**/.gitattributes
**/.pnpm-debug.log
**/.travis.yml
**/.eslintignore
**/pnpm-workspace.yaml
**/.vscode
**/.github
**/.prettierignore
**/.prettierrc
**/.prettierrc.json
**/Cargo.lock

client/src
client/testFixture

server/src
server/test
